@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["Developer"]</p>
<address>
    <strong>More information: </strong> <a>emiliotdm@hotmail.com</a>
</address>
