@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Porto Alegre<br />
    Rio Grande do Sul, BR 93265000<br />
    <abbr title="Phone"></abbr>
    +55 51 9 9760 9133
</address>

<address>
    <strong>Support:</strong> <a href="emiliotdm@hotmail.com">emiliotdm@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="eletricatonatiu@yahoo.com">eletricatonatiu@yahoo.com</a>
</address>
